.td{
  border: 1px solid #7e7a7a;
  text-align: center;
  /* border-bottom: 1px solid grey; */
}

.td-feature{
  border: 1px solid #7e7a7a;
  text-align: center;
}

.td-feature:hover{
  color: white;
  background-color: #34699E;
  border: 1px solid #7e7a7a;
  text-align: center;
}
