.relatedItemsAndComparison{
  // background-image: url('./skyBackground.jpeg');
  width: 90vw;
  /* center this div on the page:  */
  margin-top:0;
  margin-right:auto;
  margin-bottom:0;
  margin-left:auto;

}
.YouMightAlsoLike {
  font-family: 'Lobster', sans-serif;
  font-weight: bold;
  font-size: medium;
  text-align: center;
  padding: 20px;
}

.CompleteYourOutfit {
  font-family: 'Lobster', sans-serif;
  font-size: medium;
  text-align: center;
  font-weight: bold;
  padding: 20px;
}