.relatedItemsAndComparison{
  // background-image: url('./skyBackground.jpeg');
  width: 90vw;
  /* center this div on the page:  */
  margin-top:0;
  margin-right:auto;
  margin-bottom:0;
  margin-left:auto;
}
.YouMightAlsoLike {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  padding: 20px;
  color: #0b3c5d;
}

.CompleteYourOutfit {
  font-family: "Open Sans", sans-serif;
  font-size:  1.5em;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  color: #0b3c5d;
}