.outfit-component{
  height: 350px;
  width: 250px;
  padding: 10px;
  background-color: #0b3c5d;
  transition: all 0.2s ease-in-out;
  box-shadow: 5px 5px 5px 2px #555555;
  border-radius: 5px;
}

.outfit-component:hover {
  background-color: rgb(62, 62, 62);
  cursor: pointer;
  color: white;
  transition: all 0.2s ease-in-out;
  height: 375px;
  width: 300px;
  box-shadow: 5px 5px 5px 2px #555555;
  border-radius: 5px;
}

.outfit-pic {
  height: 75%;
  border-radius: 7px;
}

.timesIconButton {
  /* this will move button from left to right */
    float: right;
    // padding: 3px;
    cursor: pointer;
    background: none;
    border: transparent;
    height: 40px;
    width: 40px;
    padding-left: 3px;
  }

  .timesIconButton:hover{
    background: none;
    border: transparent;
  }

  .timesIcon{
    height: 20px;
    width:20px;
    filter: drop-shadow(-2px 0px 1px #0b3c5d);
  }

  .timesIcon:hover{
    height: 30px;
    width:30px;
    cursor: point;
    filter: drop-shadow(-2px 0px 1px #0b3c5d);
  }


// .timesIcon {
//   display: flex;
//   justify-content: flex-end;
//   padding: 3px;
//   height: 20px;
//   width:20px;
//   filter: drop-shadow(-2px 0px 1px #0b3c5d);
//   color: white;
// }

.outfit-name {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 3px;
  color: white;
}

.outfit-category{
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color:white;
  padding: 3px;
  font-style: italic;
}
.outfit-style {
  color:white;
  padding: 3px;
}

.outfit-regularPrice {
  text-decoration: line-through;
  color: white;
}
.outfit-regularPrice-no-linethrough {

}

