.outfit-component{
  height: 400px;
  width: 300px;
  padding: 10px;
  background-color: #0b3c5d;
  transition: all 0.3s ease-in-out;
  box-shadow: 5px 5px 5px 2px #555555;
}

.outfit-component:hover {
  background-color: rgb(62, 62, 62);
  cursor: pointer;
  color: white;
  transition: all 0.3s ease-in-out;
  height: 450px;
  width: 350px;
  box-shadow: 5px 5px 5px 2px #555555;
}

.outfit-pic {
  height: 75%;
  border-radius: 7px;
}

.timesIcon {
  display: flex;
  justify-content: flex-end;
  padding: 3px;
}

.outfit-name {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 3px;
  color: white;
}

.outfit-category{
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color:white;
  padding: 3px;
  font-style: italic;
}
.outfit-style {
  color:white;
  padding: 3px;
}

.outfit-regularPrice {
  text-decoration: line-through;
  color: white;
}
.outfit-regularPrice-no-linethrough {

}

