.QAAnswerSubmitForm {
  font-family: Arial, Helvetica, sans-serif;
}

.qModalRow {
  display: grid;
  grid-template-columns: 2fr 4fr;
}

.qModalInput {
  width: 100%;
  display: block;
  margin-bottom: 1%;
  border: 1px solid #328CC1;
  background-color: white;
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

.qModalInput::placeholder {
  color: rgb(0, 0, 0);
}

.warning-text {
  font-weight: bold;
  color: red;
  text-shadow: .3px .3px #000000;
  font-style: italic;
  text-align: right;
  margin-bottom: 4px;
}

.modal-subtext {
  font-size: x-small;
  font-weight: bold;
  font-style: italic;
  text-align: right;
}

.modal-title {
  // text-align: center;
}

.modal-subtitle {
  // text-align: center;
  font-size: small;
  font-weight: bold;
  margin-top: -3.5%;
  margin-bottom: 7%;
}

.form-input-title {
  display: block;
  margin-top: 3.5%;
  margin-bottom: .25%;
  font-weight: bold;
  font-size: small;
}

.form-input-textblock {
  display: block;
  width: 100%;
  border: 1px solid #328CC1;
  background-color: white;
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

.form-input-textblock:focus {
  outline: none !important;
  border-color: white;
  box-shadow: 0 0 5px #328CC1;
}

.modal-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalSubmissionButton {
  background-color: white;
  border-style: 1px solid;
  border-color: white;
  color: rgb(0, 0, 0);
  font-size: larger;
  margin-top: 25px;
  padding: 15px;
  border-radius: 5px;
  font-weight: bolder
}

.modalSubmissionButton:hover {
  background-color: #1D2731;
  border: 1px solid #328CC1;
  color: white;
  font-weight: bolder;
}

.modalPhotoButton {
  background-color: white;
  border-style: 1px solid;
  border-color: white;
  color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 5px;
  font-weight: bolder
}

.modalPhotoButton:hover {
  background-color: #1D2731;
  border: 1px solid #328CC1;
  color: white;
  font-weight: bolder;
}

.information-text {
  font-size: x-small;
  font-weight: bold;
  font-style: italic;
  text-align: right;
}