.qalist-item-wrapper {

}

.qalist-q-line-wrapper {
  display: flex;
  justify-content: space-between;
}

.qalist-question {
  display: flex;
  margin-left: 10px;
  text-shadow: 2px 2px 4px #1d2731;
  cursor: pointer;
}

.qalist-helpful {
  display: flex;
  margin-right: 3%;
  margin-top: 5px;
  font-size: smaller;
  font-weight: lighter;
  gap: 7px;
}

.qalist-q-text {
  margin-top: 20px;
  display:inline;
  min-width: fit-content;
  margin-left: 5px;
}

.qalist-answersandbuttonwrapper {
  max-height: 500px;
    transition: all .5s ease-in-out;
  display: flex;
  flex-direction: column;
  opacity: 100;
}

.qalist-answersnotactive {
  opacity: 0;
  max-height: 0;
    transition: all .5s ease-in-out;
    overflow: hidden;
}

.showAnswersButton {
  margin-left: 27px;
  border: none;
  background-color: rgb(11,60,93);
  color: white;
  font-size: small;
  font-weight: bolder;
  align-self: flex-start;
  cursor: pointer;
}

.showAnswersButton:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 3px #328CC1;
}