.qasearchwrapper {
  padding: 5px;
}

.search-field {
  width: 97%;
  height: 50px;
  padding: 10px 35px 10px 15px;
  margin-left: 3px;
  margin-right: 3px;
  border: none;
  border: 1px solid #F9F6EE;
  background-color: #328CC1;
  color: white;
  font-weight: bold;
  border-radius: 2px;
}

.search-field:focus {
  outline: none !important;
  border-color: #F9F6EE;
  box-shadow: 0 0 5px #328CC1;
}

.search-field::placeholder {
  color: white;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -45px;
}

.search-button img {
  width: 20px;
  height: 20px;
  margin-bottom: -7px;
  object-fit: cover;
}