.qandawrapper {
  // border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 95%;
  min-height: 50vh;
  max-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  // background-color: #0B3C5D;
  background: rgb(11,60,93);
  background: linear-gradient(121deg, rgba(11,60,93,1) 0%, rgba(11,60,93,1) 58%, rgba(29,39,49,1) 100%);
  color: white;
  padding: 10px;
  box-shadow: 5px 5px 5px 2px #555555;
}

.qandatitle {
  padding: 5px;
  font-weight:lighter;
  margin: 1%;
  text-shadow: 2px 2px 4px #1d2731;
}

.qalistwrapper {
  margin:4px, 4px;
  padding:4px;
  width: 3fr;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.qanda-button {
  padding: 20px;
  margin-left: 11px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #328CC1;
  border-style: 1px solid;
  border-color: #F9F6EE;
  color: white;
  font-weight: bold;
  border-radius: 2px;
}

.qanda-button:hover {
  background-color: rgb(18, 18, 18);
  border: 1px solid #328CC1;
  font-weight: bolder;
}