.qandawrapper {
  // border: 1px solid black;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90vw;
  max-height: 83vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  // background-color: #0B3C5D;
  background: #0B3C5D;
  // background: linear-gradient(121deg, rgba(11,60,93,1) 0%, rgba(11,60,93,1) 58%, rgba(29,39,49,1) 100%);
  color: white;
  padding: 10px;
  box-shadow: 5px 5px 5px 2px #555555;
  border-radius: 5px;
}

.qandatitle {
  padding: 5px;
  // font-weight:lighter;
  margin: 1%;
  text-shadow: 2px 2px 4px #1d2731;
}

.qalistwrapper {
  margin:4px, 4px;
  padding:4px;
  width: 3fr;
  max-height: 50vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.qalistwrapper::-webkit-scrollbar {
  display: none;
}

.qanda-button {
  padding: 20px;
  margin-left: 11px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  border-style: 1px solid;
  border-color: white;
  color: rgb(0, 0, 0);
  font-weight: bold;
  border-radius: 5px;
}

.qanda-button:hover {
  background-color: #1D2731;
  border: 1px solid #328CC1;
  color: white;
  font-weight: bolder;
}