.product-info,
.overview-container,
.style-selector,
.add-to-cart {
  border: 1px solid black;
}

.overview-container {
  height: 500px;
  display: flex;
  margin: 0 30px;
}

.image-gallery {
  width: 60%;
  background-color: lightgray;
}

.product-container {
  width: 40%;
}

.product-container h2 {
  margin: 0;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.style-thumbnails {
  display: flex;
  flex-wrap: wrap;
  width: 33%;
  justify-content: space-between;
  padding: 20px;
}

.style-thumbnails img {
  width: 50px;
  height: 50px;
  border-radius: 45px;
  border: 1px groove lightgray;
}