.YouMightAlsoLike{
  font-family: 'Nunito', sans-serif;
  font-size: medium;
  text-align: center;
}
.CompleteYourOutfit{
  font-family: 'Nunito', sans-serif;
  font-size: medium;
  text-align: center;
}
.relatedProduct{
  display:block;
  width: 220px;
  height:200px;
  border: solid;
  margin:10px;
  border-radius: 15px;
}

.relatedProduct:hover {
  background-color: rgb(62,62,62);
  cursor: pointer;
  color:white;
  transition: all 1s ease;
}
.container{
  /* background-color: blueviolet; */
  /* border-style: solid; */
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}

.name{
  padding: 3px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

.category{
  padding:3px
}

.price{
  padding: 3px
}