/* @keyframes heartbeat{

  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
} */

/* .heart {
  color:black;
  opacity: 0.3;
  cursor: point;
  width: 25px;
  height: 25px;
  padding: 10px;
}

.heart:hover{
  animation: heartbeat 1s infinite;
  fill:red;
  color:red;
  opacity: 1;
  transition: opacity 500ms;
} */
.YouMightAlsoLike {
  font-family: 'Lobster', sans-serif;
  font-weight: bold;
  font-size: medium;
  text-align: center;
  padding: 20px;
}

.CompleteYourOutfit {
  font-family: 'Lobster', sans-serif;
  font-size: medium;
  text-align: center;
  font-weight: bold;
  padding: 20px;
}

.relatedProduct {
  display: block;
  width: 220px;
  height: 250px;
  border: solid;
  margin: 10px;
  border-radius: 15px;
}

.relatedProduct:hover {
  background-color: rgb(62, 62, 62);
  cursor: pointer;
  color: white;
  transition: all 1s ease;
}

/* .container{
  /* background-color: blueviolet; */
/* border-style: solid; */
/* display:flex;
  flex-wrap:wrap;
  justify-content: center; */
/* } */


.ModalContainer {
  border: solid;
  width: 200px;
  height: 200px;
  border-radius: 12px;
  position: fixed;
}

/* .modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.heartIcon {
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}


.emptyList {
  display: flex;
  justify-content: center;
}

.regularPrice {
  text-decoration: line-through;
}

.currentOutfit {
  border: solid;
  display: block;
  border-radius: 15px;
  width: 220px;
  height: 250px;
  text-align: center;
  padding: 5px;
}

.emptyOutfitList {
  display: flex;
  justify-content: center;
  font-family: 'Pacifico', cursive;
  font-size: medium;
}

.plusIcon {
  display: flex;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  padding-bottom: 30px;
}

.timesIcon {
  display: flex;
  justify-content: flex-end;
}


.leftArrowIcon {
  height: 40px;
  width: 40px;
  float: right;
  margin-top: 200px;
}

.rightArrowIcon {
  height: 40px;
  width: 40px;
}


/* .product-container {
padding: 0 10vw;
border: solid;
width: 90px;
height: 200px; */
/* overflow-x: auto; */
/* scroll-behavior: smooth; */
/* flex-wrap: wrap; */
/* }

.product-card{
  width: 100%;
  height: 200px;
  border: solid;
}

.product-image{
  position: relative;
  width: 100%;
  height: 130px;
  overflow: hidden;
}

.product-thumb{
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
/* } */

/* .starIcon{
  position: absolute;
  backface-visibility: hidden;
  text-transform: capitalize;
} */

/* .product-info{
  width: 100%;
  height: 10px;
  padding-top: 10px;
}

.price{
  font-weight: 900;
  font-size: 10px;
}

.product-name{
  font-size: 10px;
}

.product-category{
  font-size: 10px;
} */

/* .relatedProductsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-component{
  display: flex;
  /* position: relative;
  place-self: center; */
/* height: 300px;
  width: 200px;
  /* align-self:flex-start; */


/* .upper-part{
  display: flex;
  height: 180px;
  width: 200px;
} */

/* .product-image{
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit:cover;
  overflow:auto;
} */

/* .product-category{
  font-size: 14px;
  padding-left: 5px;
}

.product-name{
  font-weight: 600;
  font-size: 15px;
  height: fit-content;
  padding-left: 5px;
} */

/* .product-price{
  color: #d00000;
  font-weight: 600;
  padding-top: 4px;
  align-self: center;
  padding-left: 5px;
}
*/
.card-component {
  border: 1px solid #ede0d4;
  height: 400px;
  width: 300px;
  padding: 10px;
  background-color: #ede0d4;
  transition: all 1s ease-in-out;
}

.card-component:hover {
  background-color: rgb(62, 62, 62);
  cursor: pointer;
  color: white;
  transition: all 1s ease-in-out;
  height: 450px;
  width: 350px;
}

.relatedProductsContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}


.product-image {
  height: 75%;
  border: 3px solid #ede0d4;
  border-radius: 7px;
}


.lower-part {
  height: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}



.starIconButton {
/* this will move button from left to right */
  float: right;
  padding: 3px;
  cursor: pointer;
  background: none;
  border: transparent;
  height: 40px;
  width: 40px;
}

.starIconButton:hover{
  background: none;
  border: transparent;
}

.starIcon{
  height: 20px;
  width:20px;
}

.starIcon:hover{
  height: 30px;
  width:30px;
  cursor: point;
}

.product-name{
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  padding: 3px;
}

.product-category{
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
  color:#808080;
  padding: 1.5px;
}

.product-price{
  padding: 3px;
  font-family: 'Nunito', sans-serif;
}

.yourOutfitListContainer{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:20px;
}


.outfit-component{
  border: 1px solid #ede0d4;
  height: 400px;
  width: 300px;
  padding: 10px;
  background-color: #ede0d4;
  transition: all 1s ease-in-out;
}

.outfit-component:hover {
  background-color: rgb(62, 62, 62);
  cursor: pointer;
  color: white;
  transition: all 1s ease-in-out;
  height: 450px;
  width: 350px;
}

.addMoreOutfit {
  border: 1px solid #ede0d4;
  height: 400px;
  width: 300px;
  padding: 10px;
  background-color: #ede0d4;
}
.addMoreOutfit-word {
  padding: 90px;
  font-family: 'Pacifico', cursive;
  font-size: 18px;
}

.plusIcon {
  display: flex;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  padding-bottom: 30px;
}

.plusIconInAddMore{
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus{
  height: 30px;
  width: 30px;
}

.outfit-pic {
  height: 75%;
  border: 3px solid #ede0d4;
  border-radius: 7px;
}

.timesIcon {
  display: flex;
  justify-content: flex-end;
  padding: 3px;
}

.innerOutfitContainer{
  display: flex;
  justify-content: center;
  gap:20px;
}
.outfit-name {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  padding: 3px;
}

.outfit-regularPrice {
  text-decoration: line-through;
}
.outfit-regularPrice-no-linethrough {

}

.outfit-category{
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
  color:#808080;
  padding: 1.5px;
}

.rightArrowIcon {
  /* float: right; */
  margin-top: 200px;
  position: absolute;
  top: -10px;
  right:-10px;
}

.relatedProductsOuterContainer{
  position: relative;
  /* how to overlay the rightArrowIcon button? */
  /* The container (WSEDIT) should have position:relative so you can absolutely-position the button.
The button should be inside the container. The button needs: position:absolute; top:-10px; right:-20px (approximately) */
}