/* .modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.modalContainer {
  width: 450px;
  height: 300px;
  border-radius: 12px;
  background-color: white;
  color: black;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  /* display: flex;
  flex-direction: column; */
  padding: 25px;
  position:fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.comparing{
  font-family: 'Pacifico', cursive;
  padding: 10px;
  font-size: 24px;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #34699E;
}

.td{
  border: 1px solid #7e7a7a;
  text-align: center;
  /* border-bottom: 1px solid grey; */
}

.td-feature{
  border: 1px solid #7e7a7a;
  text-align: center;
}

.td-feature:hover{
  color: white;
  background-color: #34699E;
  border: 1px solid #7e7a7a;
  text-align: center;
}


.closeBtn {
  position: absolute;
  top:10px;
  right: 10px;
  cursor: pointer;
  background: none;
  border: transparent;
  height: 30px;
  width:30px;
  /* display: flex;
  justify-content: flex-end; */
}

#exit-icon{
  color: black;
  height: 20px;
  width: 20px;
}
/* .modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
} */