.image-gallery {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
}


.image-slide {
  height: 90%;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  transition: background-image .5s ease-in-out;
}

.slide-arrow {
  color: blue;
  cursor: pointer;
  font-size: 1rem;
}


.thumbnails-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85%;
  overflow-y: scroll;
  margin-left: 10px;
  margin-top: 10px;
}

.thumbnails-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.thumbnails-container {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.thumbnail-overview {
  width: 15%;
  min-height: 15%;
  border: 2px solid white;
  margin: 5px;
  border-radius: 5px;
}