.image-gallery {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #34699E;
  padding: 0 10px;
}


.image-slide {
  height: 70%;
  width: 100%;
  background-repeat: no-repeat;
  transition: background-image .5s ease-in-out;
}

.slide-arrow {
  color: #FFF;
  cursor: pointer;
  font-size: 2rem;
}


.thumbnails-container {
  display: flex;
  flex-direction: column;
  height: 85%;
  overflow-y: scroll;
  margin-left: 10px;
  margin-top: 10px;
}

.thumbnails-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.thumbnails-container {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.thumbnail-overview {
  width: 10%;
  min-height: 15%;
  border: 2px solid white;
  margin: 5px;
  border-radius: 5px;
}