// .image-gallery {
//   width: 70%;
//   height: 100%;
//   display: flex;
//   align-items: center;
//   background-color: #34699E;
//   padding: 0 10px;
// }


.image-slide {
  width: 60vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 20%);
}

.fullscreen {
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 80vh;
  transition: all .5s ease-in;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 20%);
}

.fullscreenImage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-column: 4 / 4;
  // img {

  //   grid-column: 1;
  //   grid-row: 1 / -1;
  //   height: 80vh;

  // }

}

.slide-arrow {
  color: #0b3c5d;
  cursor: pointer;
  font-size: 3rem;

}

.left {
  grid-row: 3 / 3;
  filter: drop-shadow(2px 0px 1px white);
}

.right {
  grid-column: 7 / 7;
  grid-row: 3 / 3;
  filter: drop-shadow(-2px 0px 1px white);
}

.fullscreenIcon {
  color: #0b3c5d;
  cursor: pointer;
  font-size: 2rem;
  grid-column: 7 / 7;
  margin-right: 10px;
  margin-top: 10px;
}


.container-of-containers {
  grid-row: 1 / span 5;
}

.thumbnails-container {
  display: flex;
  flex-direction: column;
  height: 85%;
  width: 20vh;
  overflow-y: scroll;
  margin-left: 10px;
  margin-top: 10px;

}

.thumbnails-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.thumbnails-container {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.thumbnail-overview {
  width: 70%;
  min-height: 15%;
  border: 2px solid white;
  margin: 5px;
  border-radius: 5px;
}