.product-container {
  color: #0b3c5d;
  width: 40vw;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  justify-content: center;
  padding: 20px;

}

.product-hidden {
  display: none;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  border-bottom: 1px solid #34699E;
  font-size: 25px;

  h2 {
    margin-top: 0;
    margin-bottom: 0px;
    font-family: 'Roboto0', sans-serif;
    font-weight: 100;
  }

  a:visited {
    color: #34699E;
  }

  .category {
    margin-top: 5px;
  }
}

.style-selector {
  margin-top: 20px;
  width: 100%;
}

.style-thumbnails {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  max-width: 60%
}

.style-container {
  width: 20%;
  height: 20%;
  display: absolute;
  border-radius: 50%;
}

.check-mark {
  position: relative;
  left: 55px;
  top: 16px;
  border-radius: 50%;
  font-size: 24px;
  background-color: #fff;
}

.image-container {
  border: 2px solid #FFF;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 1/1;
}

.style-image {
  margin: 0 auto;
  height: 100%;
  width: 100%;

}



.add-to-bag {
  margin-top: 45px;
  width: 75%;

  form {
    display: flex;
    gap: 5px;
  }

  .size-select {
    box-shadow: 0 1px 6px 0 rgb(34 34 34 / 15%);
    display: block;
    font-size: 16px;
    height: 3em;
    padding-left: 12px;

    width: 13em;
    border-radius: 6px;
    background: #34699E;
    border-color: rgba(34, 34, 34, 0.15);
    border-style: solid;
    border-width: 1px;
    color: #fff;
    text-indent: 0.01px;
    cursor: pointer;
    margin-right: 1em;
  }

  .qty {
    box-shadow: 0 1px 6px 0 rgb(34 34 34 / 15%);
    display: block;
    font-size: 16px;
    height: 3em;
    padding-left: 12px;
    padding-right: 36px;
    width: 7em;
    border-radius: 6px;
    background: #34699E;
    border-color: rgba(34, 34, 34, 0.15);
    border-style: solid;
    border-width: 1px;
    color: #fff;
    text-indent: 0.01px;
    cursor: pointer;
  }

  .buttons {
    margin-top: 10px;
    display: flex;
    align-items: baseline;
    gap: 10px;

    .submit {
      box-shadow: 0 1px 6px 0 rgb(34 34 34 / 15%);
      display: block;
      font-size: 18px;
      height: 3em;
      width: 10em;
      border-radius: 6px;
      background: #34699E;
      border-color: rgba(34, 34, 34, 0.15);
      border-style: solid;
      border-width: 1px;
      color: #fff;
      text-align: center;
      cursor: pointer;
    }

    .favorite {
      box-shadow: 0 1px 6px 0 rgb(34 34 34 / 15%);
      display: block;
      font-size: 16px;
      height: 3em;
      width: 4em;
      padding: 2px;
      border-radius: 6px;
      background: #34699E;
      border-color: rgba(34, 34, 34, 0.15);
      border-style: solid;
      border-width: 1px;
      color: #fff;
      text-align: center;
      cursor: pointer;
    }
  }
}

.sale-price {
  display: flex;
  gap: 5px;
}