.product-description {
  display: flex;
  height: 20vh;
  width: 90vw;
  margin: 30px auto;
  color: #0b3c5d;



  .description {
    border-right: 2px solid #0b3c5d;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    width: 59.5%;

    p {
      font-size: 16px;

    }
  }

  .features {
    font-size: 18px;
    display: flex;


    ul {
      li {
        margin-top: 10px;
      }
    }
  }
}