.product-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  justify-content: center;
  background-color: #34699E;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 50%;


  h2 {
    margin-top: 0;
    margin-bottom: 0px;
    font-family: 'Roboto0', sans-serif;
    font-weight: 100;
  }

  a:visited {
    color: #FFF;
  }

  .category {
    margin-top: 5px;
  }
}


// .style-selector {
//   padding: 10px 20px;
//   width: 33%;
// }

.style-thumbnails {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 10px;
  min-width: fit-content;
}

.image-container {
  min-height: 20%;
  width: 20%;
  border: 2px solid #FFF;
  border-radius: 50%;
  overflow: hidden;
}

.style-image {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
}

.add-to-bag {
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
}

.sale-price {
  display: flex;
  gap: 5px;
}