.product-container {
  width: 45%;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px 20px;
  gap: 5px;
  width: 33%;

  h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
}


.style-selector {
  padding: 10px 20px;
  width: 33%;
}

.style-thumbnails {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
  min-width: fit-content;
}

.image-container {
  min-height: 40%;
  min-width: 40%;
  border: 1px groove lightgray;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.style-image {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
}

.add-to-bag form {
  padding: 10px 20px;
  width: 33%;
  display: flex;
  flex-wrap: wrap;
}

.sale-price {
  display: flex;
  gap: 5px;
}