#randr {
  display: flex;
  flex-direction: row;
  width: 90vw;
  height: 700;
  max-height: 100vh;

  gap: 5%;
  // background-color: #34699E;
  color: white;
  //
}

#center-reviews {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #0B3C5D;
  margin: 0 auto;
  width: 90vw;
  height: 3fr;
  max-height: 100vh;
  border: solid black 1px;
  box-shadow: 5px 5px 5px 2px #555555;
  max-height: 100vh;
  padding: 10px;
  border-radius: 5px;
}

#title-review-container {
  display: flex;
  justify-content: left;

}

#review-title {
  color: white;
  padding: 5px;
  // font-weight:lighter;
  margin: 1%;
}

