// #review-list {
//   margin-left: auto;
//   display: flex;
//   flex-shrink: 1;
//   flex-direction: column;
//   margin:4px, 4px;
//   padding:4px;
//   width: 70%;
//   height: 800px;
//   overflow-x: hidden;
//   overflow-y: auto;
//   text-align:justify;
// }
#review-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 600px;
  max-width:100%;
  // overflow-x: auto;
  overflow-y: auto;
  overflow-wrap: break-word;
}
#review-list-all {
  display: flex;
  flex-direction: column;
  width: 70%;
  min-width: 70%;
  max-width: 70%;
  // padding-top: 3%;
}

@media (max-width: 800px) {
  #review-list-all {
    width: 100%;
    max-width: 100%;
    padding: 0 1em;
  }
  #review-list {
    max-height: 400px;
  }
}

.review-button {
  padding: 20px;
  margin: 1%;
  background-color: white;
  font-weight: bold;
}
.review-button:hover {
    box-shadow: 0 5px 11px rgba(33,33,33,.2);
    cursor: pointer;
}


#button-cont {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
// is this connected to anything
.toggle-line {
  border-left: .5px solid white;
  padding-left: 1%;
  padding-right: 1%;
}
// is this connected to anything
.review-links {
  padding-left: 1%;
  padding-right: 1%;
  cursor: pointer;
  text-decoration: underline;
}

.thumbnail-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

#sorting {
  display: flex;
  justify-content: left;
  flex-wrap: nowrap;
  flex-direction: row;
}
#dropdown {
  min-width: 10em;
  padding: 0.5em 1em;
  background: transparent;
  // border: #444 solid;
  border-radius: 1em;
  // text-decoration: underline;
  color: inherit;
  // font: inherit;
  border: 1px solid white;
  font-size: 1em;
}


