.modal-pop-review {
  background: #0B3C5D;
  color: white;
  border: 2px solid #aaa;
  border-radius: 5px;
  z-index: 2;
  max-width: 80%;
  min-width: 50%;
  margin: auto;
  padding: 1em 2em 2em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90vh;
  // background: white;
  // outline: none;
  // width: 50rem;
  // max-width: calc(100vw - 2rem);
  // max-height: calc(100vh - 2rem);
  // box-shadow: 0 0 34px 0 rgba(0, 0, 0, 0.24);
  overflow-y: auto;
  // position: fixed;
}
.modal-overlay {
  // position: fixed;
  // z-index: 1;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100%;
  // background: rgba(0, 0, 0, 0.3);
  // display: flex;
  // align-items: center;
  // justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: rgb(0, 0, 0);
  opacity: 0.75;
  overflow-y: scroll;
}

.form-warning {
  font-size: x-small;
  font-weight: bold;
  color: red;
  font-style: italic;
  text-align: right;
}

.form-success {
  font-size: x-small;
  font-weight: bold;
  color: green;
  font-style: italic;
  text-align: right;
}

.character-desc-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 10px;
}
.char-form-title {
  font-weight: bold;
  margin:  0 auto;
  font-size: 1em;
}

.character-title {
  // font-weight: bold;

}

.review-submit-btn {
  padding: 10px;
  margin: 1%;
  width: 50%;
  background-color: white;
  font-weight: bold;
}
.review-submit-btn:hover {
    box-shadow: 0 5px 11px rgba(33,33,33,.2);
    cursor: pointer;
}

.review-submit-btn {
  background-color: #328CC1;
  border-style: 1px solid;
  border-color: #F9F6EE;
  font-size: larger;
  color: white;
  margin-top: 25px;
  padding: 15px;
  border-radius: 5%;
}

.review-submit-btn:hover {
  background-color: #1D2731;
  border: 1px solid #328CC1;
  font-weight: bolder;
}

.review-photo-btn {
  background-color: #328CC1;
  border-style: 1px solid;
  border-color: #F9F6EE;
  color: white;
  padding: 5px;
  border-radius: 5%;
}

.review-photo-btn:hover {
  background-color: #1D2731;
  border: 1px solid #328CC1;
  font-weight: bolder;
}

#form-title {
  display: flex;
  justify-content:  center;
  font-size: 1.5em;
  font-weight: bold;
}
// .rating-recommend-container {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
// }

#review-form-container {
  display: flex;
  flex-direction: column;
}

.review-summary-form {
  width: 70%;
}

.input-summary-dev {
  padding-bottom: 2%;
}

.user-email-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.review-modal-input {
  width: 100%;
  display: block;
  margin-bottom: 1%;
  border: 1px solid black;
  background-color: white;
  color: black;
}
.review-modal-input::placeholder {
  color: gray;
}


.form-star-rating {
  display: flex;
  flex-direction: row;
  gap: 3%;
}




