// #review-list {
//   margin-left: auto;
//   display: flex;
//   flex-shrink: 1;
//   flex-direction: column;
//   margin:4px, 4px;
//   padding:4px;
//   width: 70%;
//   height: 800px;
//   overflow-x: hidden;
//   overflow-y: auto;
//   text-align:justify;
// }
#review-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 800px;
  overflow-x: auto;
}
#review-list-all {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.review-button {
  padding: 20px;
  margin: 1%;
  background-color: white;
  font-weight: bold;
}
.review-button:hover {
    box-shadow: 0 5px 11px rgba(33,33,33,.2);
    cursor: pointer;
}


#button-cont {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
// is this connected to anything
.toggle-line {
  border-left: .5px solid green;
  padding-left: 1%;
  padding-right: 1%;
}
// is this connected to anything
.review-links {
  padding-left: 1%;
  padding-right: 1%;
}

.thumbnail-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

#sorting {
  display: flex;
  justify-content: left;
  flex-wrap: nowrap;
  flex-direction: row;
}
#dropdown {
  min-width: 10em;
  padding: 0.5em 1em;
  background: transparent;
  border: #444 solid;
  border-radius: 1em;
  text-decoration: underline;
  color: inherit;
  font: inherit;
  border: 0px
}