#review-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

// #search-bar {
//   width: 50%
// }

#review-search {
  padding: 5px;
  display: flex;
  justify-content: center;
}

#search-bar {
  width: 97%;
  height: 40%;
  padding: 10px 35px 10px 15px;
  margin-left: 3px;
  margin-right: 3px;
  border: none;
  border: 1px solid black;
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 2px;
}

#search-bar:focus {
  outline: none !important;
  border-color: #F9F6EE;
  box-shadow: 0 0 5px #328CC1;
}

#search-bar::placeholder {
  color: black;
}

.search-button-reviews {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -45px;
}

// .search-reviews img {
//   // width: 20px;
//   // height: 20px;
//   margin-top: auto;
//   margin-bottom: auto;
//   object-fit: cover;
// }

.search-icon {
  color: black;
  font-size: 1em;
}