#average-rating {
  padding: 5% 0% 0% 5%;
  font-size: 4em;
}



.star-rating{
	font-size: 0;
}
.star-rating__wrap{
	display: inline-block;
	font-size: 1rem;
}
.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
}
.star-rating__ico{
	float: right;
	padding-left: 2px;
	cursor: pointer;
	color: #FFB300;
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";
}

.star-bars {
  padding-bottom: 5px;
}

.star-a-element {
  font-size: .8em;
}

.star-a-element:hover {
  cursor: pointer;
  color:greenyellow;
}

// #star-average {
//   padding-top: 23%;
//   padding-left: 5%;
// }

.star-avg-main {

  padding-left: 3%;
  padding-bottom: 8%;
  // width: 150px;
  // height: 100px;
  // position: absolute;
  // /* new */
  // left: 50%;
  // transform: translateX(-50%);
}

.linear-gradient-template {
  width: 0;
  height: 0;
}

// .star-rating-icon:hover {
//   color:green
// }

.empty-star {
  color: white
}

.highlight-star {
  color: #D9B310;
}

.star-div-container {
  display: flex;
  flex-direction: row;
}

.star-button-form {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: #D9B310;
}
.off {
  color: white;
}